In [2]:
import sys
import csv
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
path= os.getcwd()
files= os.listdir(path)
files_xls= [f for f in files if f[-4:]== 'xlsx']
files_xls

['Arg_CA2019.xlsx',
 'Arg_CA2021.xlsx',
 'Bol_CA2019.xlsx',
 'Bol_CA2021.xlsx',
 'Bra_CA2019.xlsx',
 'Bra_CA2021.xlsx',
 'Chi_CA2019.xlsx',
 'Chi_CA2021.xlsx',
 'Col_CA2021.xlsx',
 'Ecu_CA2019.xlsx',
 'Ecu_CA2021.xlsx',
 'Par_CA2019.xlsx',
 'Par_CA2021.xlsx',
 'Per_CA2019.xlsx',
 'Per_CA2021.xlsx',
 'Uru_CA2019.xlsx',
 'Uru_CA2021.xlsx',
 'Ven_CA2019.xlsx',
 'Ven_CA2021.xlsx']

In [4]:
all_matches = pd.DataFrame()
for f in files_xls:
    data=pd.read_excel(f)
    all_matches = all_matches.append(data)

all_matches.shape

C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)
C:\Users\dhava\AppData\Local\Temp\ipykernel_9324\752172395.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_matches = all_matches.append(data)

(183, 103)

In [5]:
all_matches.head(5)

,Unnamed: 0,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,...,CrdR,2CrdY,Fl_committed,Fl_Drawn,Offside_y,Own_Goal,Recoveries,Aerial_w,Aerail_L,Team
0,0,2019-03-22,21:00,Friendlies (M),Friendlies (M),Fri,Home,L,1,3,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
1,1,2019-03-26,20:00,Friendlies (M),Friendlies (M),Tue,Away,W,1,0,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
2,2,2019-06-07,21:10,Friendlies (M),Friendlies (M),Fri,Home,W,5,1,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
3,3,2019-06-15,19:00,Copa América,Group stage,Sat,Neutral,L,0,2,...,0,0,13.0,17.0,1.0,0,47.0,12.0,14.0,Argentina
4,4,2019-06-19,21:30,Copa América,Group stage,Wed,Neutral,D,1,1,...,0,0,20.0,17.0,1.0,0,50.0,14.0,12.0,Argentina

In [6]:
all_matches.columns

Index(['Unnamed: 0', 'Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result',
       'GF', 'GA',
       ...
       'CrdR', '2CrdY', 'Fl_committed', 'Fl_Drawn', 'Offside_y', 'Own_Goal',
       'Recoveries', 'Aerial_w', 'Aerail_L', 'Team'],
      dtype='object', length=103)

In [8]:
all_matches.drop(columns=['Unnamed: 0','Time','Comp', 'Round','xG','xGA','Poss','Attendance','Captain','Formation','Referee','Match Report','Notes' ,'Day','SCA_PassLive','GCA_PassLive','SCA_PassDead','GCA_PassDead','SCA_TO','GCA_TO','SCA_Sh','GCA_Sh','SCA_fld','GCA_fld','Tkl+Int'],inplace=True)
all_matches.head()

,Date,Venue,Result,GF,GA,Opponent,Tot_Shot,Shot_oTarget,Shot_Dist,FreeKick,...,CrdR,2CrdY,Fl_committed,Fl_Drawn,Offside_y,Own_Goal,Recoveries,Aerial_w,Aerail_L,Team
0,2019-03-22,Home,L,1,3,ve Venezuela,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
1,2019-03-26,Away,W,1,0,ma Morocco,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
2,2019-06-07,Home,W,5,1,ni Nicaragua,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina
3,2019-06-15,Neutral,L,0,2,co Colombia,13.0,6.0,20.9,3.0,...,0,0,13.0,17.0,1.0,0,47.0,12.0,14.0,Argentina
4,2019-06-19,Neutral,D,1,1,py Paraguay,6.0,1.0,20.5,1.0,...,0,0,20.0,17.0,1.0,0,50.0,14.0,12.0,Argentina

In [9]:
all_matches.dtypes

Date           object
Venue          object
Result         object
GF             object
GA             object
               ...
Own_Goal        int64
Recoveries    float64
Aerial_w      float64
Aerail_L      float64
Team           object
Length: 78, dtype: object

In [10]:
all_matches["Date"] = pd.to_datetime(all_matches["Date"])
all_matches.dtypes

Date          datetime64[ns]
Venue                 object
Result                object
GF                    object
GA                    object
                   ...
Own_Goal               int64
Recoveries           float64
Aerial_w             float64
Aerail_L             float64
Team                  object
Length: 78, dtype: object

In [11]:
all_matches["venue_code"] = all_matches["Venue"].astype("category").cat.codes ### 1- Home,0- Away,2-Neutral
all_matches

,Date,Venue,Result,GF,GA,Opponent,Tot_Shot,Shot_oTarget,Shot_Dist,FreeKick,...,2CrdY,Fl_committed,Fl_Drawn,Offside_y,Own_Goal,Recoveries,Aerial_w,Aerail_L,Team,venue_code
0,2019-03-22,Home,L,1,3,ve Venezuela,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina,1
1,2019-03-26,Away,W,1,0,ma Morocco,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina,0
2,2019-06-07,Home,W,5,1,ni Nicaragua,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Argentina,1
3,2019-06-15,Neutral,L,0,2,co Colombia,13.0,6.0,20.9,3.0,...,0,13.0,17.0,1.0,0,47.0,12.0,14.0,Argentina,2
4,2019-06-19,Neutral,D,1,1,py Paraguay,6.0,1.0,20.5,1.0,...,0,20.0,17.0,1.0,0,50.0,14.0,12.0,Argentina,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,2019-11-19,Away,W,4,1,jp Japan,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,0,NaN,NaN,NaN,Venezuela,0
0,2021-06-13,Neutral,L,0,3,br Brazil,3.0,1.0,26.8,0.0,...,0,14.0,11.0,1.0,0,40.0,9.0,12.0,Venezuela,2
1,2021-06-17,Neutral,D,0,0,co Colombia,2.0,0.0,29.8,0.0,...,0,14.0,12.0,0.0,0,47.0,8.0,26.0,Venezuela,2
2,2021-06-20,Neutral,D,2,2,ec Ecuador,9.0,3.0,16.0,0.0,...,0,7.0,15.0,2.0,0,47.0,14.0,21.0,Venezuela,2
3,2021-06-27,Neutral,L,0,1,pe Peru,10.0,3.0,21.2,1.0,...,0,17.0,9.0,2.0,0,48.0,16.0,13.0,Venezuela,2

In [12]:
all_matches["opp_code"] = all_matches["Opponent"].astype("category").cat.codes

In [13]:
all_matches['year'] = all_matches['Date'].dt.year
all_matches

,Date,Venue,Result,GF,GA,Opponent,Tot_Shot,Shot_oTarget,Shot_Dist,FreeKick,...,Fl_Drawn,Offside_y,Own_Goal,Recoveries,Aerial_w,Aerail_L,Team,venue_code,opp_code,year
0,2019-03-22,Home,L,1,3,ve Venezuela,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,Argentina,1,35,2019
1,2019-03-26,Away,W,1,0,ma Morocco,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,Argentina,0,19,2019
2,2019-06-07,Home,W,5,1,ni Nicaragua,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,Argentina,1,22,2019
3,2019-06-15,Neutral,L,0,2,co Colombia,13.0,6.0,20.9,3.0,...,17.0,1.0,0,47.0,12.0,14.0,Argentina,2,5,2019
4,2019-06-19,Neutral,D,1,1,py Paraguay,6.0,1.0,20.5,1.0,...,17.0,1.0,0,50.0,14.0,12.0,Argentina,2,25,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,2019-11-19,Away,W,4,1,jp Japan,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,Venezuela,0,17,2019
0,2021-06-13,Neutral,L,0,3,br Brazil,3.0,1.0,26.8,0.0,...,11.0,1.0,0,40.0,9.0,12.0,Venezuela,2,3,2021
1,2021-06-17,Neutral,D,0,0,co Colombia,2.0,0.0,29.8,0.0,...,12.0,0.0,0,47.0,8.0,26.0,Venezuela,2,5,2021
2,2021-06-20,Neutral,D,2,2,ec Ecuador,9.0,3.0,16.0,0.0,...,15.0,2.0,0,47.0,14.0,21.0,Venezuela,2,9,2021
3,2021-06-27,Neutral,L,0,1,pe Peru,10.0,3.0,21.2,1.0,...,9.0,2.0,0,48.0,16.0,13.0,Venezuela,2,24,2021

In [14]:
all_matches['target'] = (all_matches['Result'] == "W").astype("int")
all_matches

,Date,Venue,Result,GF,GA,Opponent,Tot_Shot,Shot_oTarget,Shot_Dist,FreeKick,...,Offside_y,Own_Goal,Recoveries,Aerial_w,Aerail_L,Team,venue_code,opp_code,year,target
0,2019-03-22,Home,L,1,3,ve Venezuela,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,Argentina,1,35,2019,0
1,2019-03-26,Away,W,1,0,ma Morocco,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,Argentina,0,19,2019,1
2,2019-06-07,Home,W,5,1,ni Nicaragua,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,Argentina,1,22,2019,1
3,2019-06-15,Neutral,L,0,2,co Colombia,13.0,6.0,20.9,3.0,...,1.0,0,47.0,12.0,14.0,Argentina,2,5,2019,0
4,2019-06-19,Neutral,D,1,1,py Paraguay,6.0,1.0,20.5,1.0,...,1.0,0,50.0,14.0,12.0,Argentina,2,25,2019,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,2019-11-19,Away,W,4,1,jp Japan,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,Venezuela,0,17,2019,1
0,2021-06-13,Neutral,L,0,3,br Brazil,3.0,1.0,26.8,0.0,...,1.0,0,40.0,9.0,12.0,Venezuela,2,3,2021,0
1,2021-06-17,Neutral,D,0,0,co Colombia,2.0,0.0,29.8,0.0,...,0.0,0,47.0,8.0,26.0,Venezuela,2,5,2021,0
2,2021-06-20,Neutral,D,2,2,ec Ecuador,9.0,3.0,16.0,0.0,...,2.0,0,47.0,14.0,21.0,Venezuela,2,9,2021,0
3,2021-06-27,Neutral,L,0,1,pe Peru,10.0,3.0,21.2,1.0,...,2.0,0,48.0,16.0,13.0,Venezuela,2,24,2021,0

In [15]:
all_matches.dtypes

Date          datetime64[ns]
Venue                 object
Result                object
GF                    object
GA                    object
                   ...
Team                  object
venue_code              int8
opp_code                int8
year                   int64
target                 int32
Length: 82, dtype: object

In [16]:
list(all_matches.select_dtypes(include='object').columns)

['Venue', 'Result', 'GF', 'GA', 'Opponent', 'Team']

In [17]:
all_matches['GF']=all_matches['GF'].str.slice(0,3)
all_matches['GA']=all_matches['GA'].str.slice(0,3)

In [18]:
def clean_scores(value):
    # Convert the value to string
    value_str = str(value)
    # Remove any non-numeric characters
    cleaned_value = ''.join(filter(str.isdigit, value_str))
    # If the cleaned value is empty, return NaN or a default value
    return int(cleaned_value) if cleaned_value else 0

In [19]:
all_matches['GF'] = all_matches['GF'].apply(clean_scores)
all_matches['GA']=all_matches['GA'].apply(clean_scores)

In [20]:
all_matches.fillna(0, inplace=True)

## Base Model

In [19]:
#from sklearn.ensemble import RandomForestClassifier

In [20]:
#rf=RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=100)

In [21]:
#train = all_matches[all_matches["year"] == 2019]

In [22]:
#test=all_matches[all_matches["year"]== 2021]

In [23]:
#dropped_cols= ['Date','Time','Comp', 'Round', 'Day', 'Venue', 'Result','Opponent','xG','xGA','Poss','Attendance','Captain','Formation','Referee','Match Report','Notes','Team','target']

In [24]:
#from sklearn.metrics import accuracy_score

In [25]:
#x=train.drop(columns=['Date','Time','Comp', 'Round', 'Day', 'Venue', 'Result','Opponent','xG','xGA','Poss','Attendance','Captain','Formation','Referee','Match Report','Notes','Team','target'])
#x.shape

(118, 87)

In [26]:
#y=train[['target']]
##y.shape

(118, 1)

In [27]:
#x_test=test.drop(columns=['Date','Time','Comp', 'Round', 'Day', 'Venue', 'Result','Opponent','xG','xGA','Poss','Attendance','Captain','Formation','Referee','Match Report','Notes','Team','target'])
#y_test=test[['target']]

In [28]:
#rf.fit(x,y)

C:\Users\dhava\AppData\Local\Temp\ipykernel_17496\2439990766.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x,y)

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=100)

In [29]:
#y_pred=rf.predict(x_test)

In [30]:
#print("ACCURACY OF THE MODEL:",accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL: 0.7384615384615385

## Feature Engineering

In [21]:
### Shooting metrics
all_matches['Shot_onTarget%']= round((all_matches['Shot_oTarget'] / all_matches['Tot_Shot'])*100,2)
all_matches['Shot_onTarget%'] = all_matches['Shot_onTarget%'].fillna(0)

all_matches['Goals_per_Shot']= (all_matches['GF'] / all_matches['Tot_Shot'])
all_matches['Goals_per_Shot'] = all_matches['Goals_per_Shot'].fillna(0)

all_matches['Goals_per_ShotonTarget']= (all_matches['GF'] / all_matches['Shot_oTarget'])
all_matches['Goals_per_ShotonTarget'] = all_matches['Goals_per_ShotonTarget'].fillna(0)

all_matches['Penalty_conversion']= (all_matches['PK'] / all_matches['PKattempted'])
all_matches['Penalty_conversion'] = all_matches['Penalty_conversion'].fillna(0)

In [36]:
## Shooting Score
correlations = all_matches.corr()['target'].drop('target')
print("Correlations:\n",correlations)

## Normalizing correlations to sum 1 
weights = correlations.abs() / correlations.abs().sum()
print("normalized Weights:\n",weights)

## Attack Score
all_matches['Shooting_Score'] = (all_matches['Tot_Shot'] * weights['Tot_Shot'] +
                        all_matches['Shot_oTarget'] * weights['Shot_oTarget'] +
                        all_matches['Shot_Dist'] * weights['Shot_Dist'] +
                        all_matches['FreeKick'] * weights['FreeKick'] +
                        all_matches['PK'] * weights['PK'] +
                        all_matches['PKattempted'] * weights['PKattempted'])

## SCA GCA

Correlations:
 GF                        0.414770
GA                       -0.251831
xG                        0.208613
xGA                      -0.273372
Poss                     -0.052910
                            ...
year                     -0.003615
Shot_onTarget%            0.073729
Goals_per_Shot            0.318937
Goals_per_ShotonTarget    0.316597
Penalty_conversion        0.175773
Name: target, Length: 95, dtype: float64
normalized Weights:
 GF                        0.041141
GA                        0.024979
xG                        0.020692
xGA                       0.027115
Poss                      0.005248
                            ...
year                      0.000359
Shot_onTarget%            0.007313
Goals_per_Shot            0.031635
Goals_per_ShotonTarget    0.031403
Penalty_conversion        0.017435
Name: target, Length: 95, dtype: float64

In [22]:
### GoalKeeping Metrics

all_matches['Save%'] = round(((all_matches['SoTA']-all_matches['GA']) / (all_matches['SoTA'])) *100,2)
all_matches['Save%']= all_matches['Save%'].fillna(0)

all_matches['PK_saved%'] = round((all_matches['PKsv'] / all_matches['Opp_PKatt']) *100,2)
all_matches['PK_saved%'] = all_matches['PK_saved%'].fillna(0)

all_matches['Crs_saved%'] = round((all_matches['CRSStop'] / all_matches['Opp_crsPA']) *100,2)
all_matches['Crs_saved%'] = all_matches['Crs_saved%'].fillna(0)

In [ ]:
## GoalKeeping Score
##all_matches['GoalKeeping_score'] = (all_matches['SoTA'] * weights['SoTA'] +
##                       all_matches['Saves'] * weights['Saves'] +
##                        all_matches['CleanSheet'] * weights['CleanSheet'] +
##                        all_matches['PK_saved%'] * weights['PK_saved%'] +
##                        all_matches['Crs_saved%'] * weights['Crs_saved%'] +
##                        all_matches['PKattempted'] * weights['PKattempted'])

In [24]:
### Passing Metrics

all_matches['%Passing_Completed'] = round((all_matches['Tot_Cmp']/all_matches['Tot_Att'])*100,2)
all_matches['%Passing_Completed'] = all_matches['%Passing_Completed'].fillna(0)

In [25]:
## Defensive Metrics

all_matches['Total_tkls'] = all_matches['Tkl_Def_3rd']+all_matches['Tkl_Mid_3rd']+all_matches['Tkl_Att_3rd']
all_matches['Total_tkls'] = all_matches['Total_tkls'].fillna(0)

all_matches['AerialDuelWin%'] = round(all_matches['Aerial_w']/(all_matches['Aerial_w']+all_matches['Aerail_L'])*100,2)
all_matches['AerialDuelWin%'] = all_matches['AerialDuelWin%'].fillna(0)

## Fl_committed,Own_Goal,Recoveries

In [26]:
## Possession Metrics
all_matches['Total_touches'] = all_matches['Touches_Def_Pen']+all_matches['Touches_Def3rd']+all_matches['Touches_Mid_3rd']+all_matches['Touches_Att_3rd']+all_matches['Touches_AttPen']
all_matches['Total_touches'] = all_matches['Total_touches'].fillna(0)

all_matches['%Successful_Takeon'] = all_matches['Tko_Succ']/all_matches['Tko_Att']
all_matches['%Successful_Takeon'] = all_matches['%Successful_Takeon'].fillna(0)
## No._Carries,Miscontrols,Dispossessed

In [28]:
## Finding correlations for getting weights for 

att_cols = ['Shot_onTarget%','Goals_per_Shot','Goals_per_ShotonTarget','Penalty_conversion','SCA','GCA','target']
def_cols = ['Total_tkls','AerialDuelWin%','Fl_committed','Own_Goal','Recoveries','Sh_blocked','Intercept','Clearance','Errors','target']
gk_cols = ['CleanSheet','Save%','PK_saved%','Crs_saved%','target']
pass_cols = ['%Passing_Completed',"Throughball","Switch","Crosses","CornerKick","Tot_Pass_Dist","TotPrgDist","Assist","KeyPass","Pass_1/3","PassPA","CrsPA",'No._Carries','target']

In [31]:
## Attack Score
att_corr = all_matches[att_cols].corr()['target'].drop('target')
att_weights = att_corr.abs()/att_corr.abs().sum()

all_matches['Attack_Score'] = (all_matches['Shot_onTarget%'] * att_weights['Shot_onTarget%'] +
                        all_matches['Goals_per_Shot'] * att_weights['Goals_per_Shot'] +
                        all_matches['Goals_per_ShotonTarget'] * att_weights['Goals_per_ShotonTarget'] +
                        all_matches['Penalty_conversion'] * att_weights['Penalty_conversion'] +
                        all_matches['SCA'] * att_weights['SCA'] +
                        all_matches['GCA'] * att_weights['GCA'])

In [32]:
def_corr = all_matches[def_cols].corr()['target'].drop('target')
def_weights = def_corr.abs()/def_corr.abs().sum()

all_matches['Defense_Score'] = (all_matches['Total_tkls'] * def_weights['Total_tkls'] +
                        all_matches['AerialDuelWin%'] * def_weights['AerialDuelWin%'] +
                        all_matches['Fl_committed'] * def_weights['Fl_committed'] +
                        all_matches['Own_Goal'] * def_weights['Own_Goal'] +
                        all_matches['Recoveries'] * def_weights['Recoveries'] +
                        all_matches['Sh_blocked'] * def_weights['Sh_blocked'] + 
                        all_matches['Intercept'] * def_weights['Intercept'] +
                        all_matches['Clearance'] * def_weights['Clearance'] +
                        all_matches['Errors'] * def_weights['Sh_blocked'] )

In [34]:
gk_corr = all_matches[gk_cols].corr()['target'].drop('target')
gk_weights = gk_corr.abs()/gk_corr.abs().sum()

all_matches['GoalKeeper_Score'] = (all_matches['CleanSheet'] * gk_weights['CleanSheet'] +
                        all_matches['Save%'] * gk_weights['Save%'] +
                        all_matches['Crs_saved%'] * gk_weights['Crs_saved%'] +
                        all_matches['PK_saved%'] * gk_weights['PK_saved%'] )

In [35]:
pass_corr = all_matches[pass_cols].corr()['target'].drop('target')
pass_weights = pass_corr.abs()/pass_corr.abs().sum()

all_matches['Passing_Score'] = (all_matches['%Passing_Completed'] * pass_weights['%Passing_Completed'] +
                        all_matches['Throughball'] * pass_weights['Throughball'] +
                        all_matches['Switch'] * pass_weights['Switch'] +
                        all_matches['Crosses'] * pass_weights['Crosses'] +
                        all_matches['CornerKick'] * pass_weights['CornerKick'] +
                        all_matches['Tot_Pass_Dist'] * pass_weights['Tot_Pass_Dist'] + 
                        all_matches['TotPrgDist'] * pass_weights['TotPrgDist'] +
                        all_matches['Assist'] * pass_weights['Assist'] +
                        all_matches['KeyPass'] * pass_weights['KeyPass'] +
                        all_matches['Pass_1/3'] * pass_weights['Pass_1/3'] +
                        all_matches['PassPA'] * pass_weights['PassPA'] +
                        all_matches['CrsPA'] * pass_weights['CrsPA'] +
                        all_matches['No._Carries'] *pass_weights['No._Carries']    )

In [ ]:
all_matches.groupby()